* {
    background-color: #fdffe0;
    color: #536f50;
    font-family: Georgia, "Times New Roman", Times, serif
}

footer {
    display: block;
    font-size: 14px;
}

.homepage-link {
    font-weight: 600;
    font-size: 18px;
}

.gif {
    width: 960px;
    height: auto;
}

.icon {
    width: 144px;
    height: auto;
}